html {
    --black-08: RGBA(0, 0, 0, 0.08);
    --black-60: RGBA(0, 0, 0, 0.6);
    --black-87: RGBA(0, 0, 0, 0.87);
    --blue-primary: RGB(4, 93, 173);

    --status-green: RGB(29, 137, 35);
    --status-amber: RGB(233, 158, 56);

    --white-100: RGB(255, 255, 255);
}

html[data-theme="dark"] {
    --black-08: RGBA(0, 0, 0, 0.08);
    --black-60: RGBA(0, 0, 0, 0.6);
    --black-87: RGBA(0, 0, 0, 0.87);

    --status-green: RGB(29, 137, 35);
    --status-amber: RGB(233, 158, 56);

    --white-100: RGB(255, 255, 255);
}
