@import url("../../styles/colors.css");
@import url("../../assets/fonts/fonts.css");

.heading_five {
  color: var(--black-87);
  font-family: "Lato-Bold";
  font-size: 0.875rem;
  letter-spacing: 0.25px;
  line-height: 1.429;
  padding-top: 0.3rem;
}

.heading_prefix_circle {
  background-color: var(--white-90);
  border-radius: 50%;
  color: var(--blue-primary);
  font-family: "Montserrat-SemiBold";
  font-size: 1rem;
  text-align: center;
  padding-top: 0.20rem;
  letter-spacing: 0.12px;
  line-height: 1.5;
  height: 1.875rem;
  width: 1.875rem;
}
