@import url("../../styles/colors.css");
@import url("../../assets/fonts/fonts.css");

.heading_four {
  color: var(--black-87);
  font-family: "Lato-Bold";
  font-size: 0.875rem;
  letter-spacing: 0.25px;
  line-height: 1.429;
}
