@import url("../../styles/colors.css");
@import url("../../assets/fonts/fonts.css");

.summary_card {
    background-color: var(--white-100);
    border-radius: 4px;
    min-height: 28.125rem;
}

hr {
    color: var(--black-08);
}

.summary_card p {
    font-family: "Lato-Regular";
    font-size: 0.75rem;
    letter-spacing: 0.25px;
    line-height: 1.333;
    padding-top: 0.15rem;
}