@import url("../../styles/colors.css");
@import url("../../assets/fonts/fonts.css");

.custom_width {
  /* width: 35%; */
}

.text_area_input {
  color: var(--black-87) !important;
  border: 1px solid var(--black-16) !important;
  border-radius: 4px !important;
  font-family: "Lato-Regular" !important;
  font-size: 0.875rem !important;
  letter-spacing: 0.25px !important;
  line-height: 1.429 !important;
  padding: 0.5rem !important;
  outline: none !important;
  box-shadow: none !important;
  width: 100%;
}

.text_area_input:hover {
  color: var(--black-87) !important;
  border: 1px solid var(--blue-primary) !important;
  outline: none !important;
  box-shadow: none !important;
}

.text_area_input:focus {
  border: 1px solid var(--blue-primary) !important;
}

.text_area_input::placeholder {
  color: var(--black-40) !important;
  font-family: "Lato-Regular" !important;
  font-size: 0.875rem !important;
  letter-spacing: 0.25px !important;
  line-height: 1.429 !important;
}

.text_area_status {
  color: var(--black-60);
  font-family: "Lato-Regular";
  font-size: 0.75rem;
  letter-spacing: 0.25px;
  line-height: 1.333;
}
